<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<a href="{% url 'My_home' %}">home</a>
<a href="{% url 'My_about' %}">about</a>
<a href="{% url 'My_service' %}">services</a>
<a href="{% url 'My_gallery' %}">gallery</a>
<a href="{% url 'My_contact' %}">contact</a>
<h2>welcome our gallery</h2>
</body>
</html>